@import url("styles/header.css");
@import url("styles/banner.css");
@import url("styles/carousel.css");
@import url("styles/topics.css");

:root {
    --background-color: #EBECEE;
    --white-principal: #FFFFFF;
    --orange: #EB9B00;
    --special-blue: #002F52;
    --blue-gradient: linear-gradient(97.54deg, #002F52 35.49%, #326589 165.37%);
    --font-principal: 'Poppins', sans-serif;
}

body {
    background-color: var(--background-color);
    font-family: var(--font-principal);
    font-size: 16px;
    font-weight: 400;
}
