.banner {
    background: var(--blue-gradient);
    color: var(--white-principal);
    text-align: center;
    padding: 2.5em 2em;
}

.title__banner {
    font-size: 18px;
    font-weight: 700;
}

.text__banner {
    font-weight: 500;
    margin: 1em 0;
}

.search__banner {
    background-color: transparent;
    border: 1px solid var(--white-principal);
    color: var(--white-principal);
    border-radius: 24px;
    padding: 1em;
    width: 100%;
}

.search__banner::placeholder {
    font-family: var(--font-principal);
    font-weight: 400;
    color: var(--white-principal);
    text-align: center;
    background: url("../img/Pesquisa.svg") no-repeat;
    background-position: 0.8em;
}