.topics {
    background: var(--blue-gradient);
    text-align: center;
    padding: 1.5em 0;
}

.topics__two {
    display: none;
}

.title__topics {
    color: var(--white-principal);
    font-weight: 300;
    margin-bottom: 1.8em;
}

.list__topics {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.topics__item {
    margin: 1.5em 0.5em;
}

.link__topics {
    color: var(--white-principal);
    padding: 1em;
    background-color: var(--orange);
    text-decoration: none;
    font-size: 14px;
    font-weight: 700;
}

@media screen and (min-width: 1024px) {
    .topics {
        display: none;
    }

    .topics__two {
        display: block;
        padding-top: 2em;
    }

    .title__topics {
        font-size: 24px;
    }

    .list__topics {
        gap: 1em;
        width: 70%;
        padding-left: 10em;
    }

    .link__topics {
        font-size: 20px;
    }
}

@media screen and (min-width: 1728px) {
    .topics {
        display: none;
    }

    .topics__two {
        display: block;
        padding: 4em 23vw;
    }
}